@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
}

div.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

// MAIN CHAT DIV
.chat {
  width: 600px;
  max-width: 90vw;
  height: 620px;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 30px -1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 5px 5px 30px -1px rgba(0, 0, 0, 0.22);
  box-shadow: 5px 5px 30px -1px rgba(0, 0, 0, 0.22);

  // CHAT BOX HEADER
  .header {
    background-color: #1b53d0;
    padding: 20px 15px;
    border-radius: 15px 15px 0 0;
  }

  // CHAT BOX TITLE
  .title {
    color: #fff;
    font-weight: 700;
  }

  // CHAT BODY
  .body {
    flex-grow: 1;
    background-color: #f4f4f4;
    overflow: scroll;
    padding: 0 0 25px 0;

    // CHAT MESSAGE WRAPPER
    .msg_wrapper {
      display: flex;
      align-items: flex-end;
    }

    .text {
      padding: 15px;
      border-radius: 10px;
    }

    // USER MESSAGE WRAPPER
    .msg_own {
      justify-content: end;

      .text {
        margin: 20px 15px 0 0;
        background-color: #4356e1;
        color: #fff;
      }
    }

    // BOT MESSAGE WRAPPER
    .msg_bot {
      align-items: end;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .text {
        margin: 20px 15px 0 10px;
        background-color: #fff;
        color: #000;
      }

      .picture {
        width: 55px;
        border-radius: 5000px;
        margin: 0 0 0 20px;
      }
    }
  }

  form {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
    border-radius: 0 0 15px 15px;

    input {
      height: 50px;
      padding: 0 0 0 15px;
      border: 0;
      width: 80%;
      border-radius: 0 0 15px 15px;
    }

    input:focus {
      outline: none;
    }

    img {
      width: 24px;
      opacity: 0.3;
      cursor: pointer;
    }

    img:hover {
      opacity: 0.6;
    }
  }

  .chatTypingWrapper {
    display: flex;
    align-items: flex-end;

    img {
      width: 55px;
      border-radius: 5000px;
      margin: 0 0 0 20px;
    }

    .dotsWrapper {
      margin: 20px 15px 0 10px;
      background-color: #fff;
      width: 85px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #4356e1;
  color: #4356e1;
  box-shadow: 9999px 0 0 -5px #4356e1;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #4356e1;
  color: #4356e1;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #4356e1;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #4356e1;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #4356e1;
  }
  30% {
    box-shadow: 9984px 0 0 2px #4356e1;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #4356e1;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #4356e1;
  }
  30% {
    box-shadow: 9999px 0 0 2px #4356e1;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #4356e1;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #4356e1;
  }
  30% {
    box-shadow: 10014px 0 0 2px #4356e1;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #4356e1;
  }
}
